{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">

    <title>
        Futbol y Gol
    </title>

    <meta
        content="width=device-width, initial-scale=1.0"
        name="viewport">


    <!-- Favicon -->

    <link
        href="{% static 'img/logo.png' %}"
        rel="icon">


    <!-- Google Web Fonts -->

    <link
        rel="preconnect"
        href="https://fonts.gstatic.com">

    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap"
        rel="stylesheet">


    <!-- Iconos -->

    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
        rel="stylesheet">

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
        rel="stylesheet">


    <!-- Bootstrap -->

    <link
        href="{% static 'css/bootstrap.min.css' %}"
        rel="stylesheet">


    <!-- CSS -->

    <link
        href="{% static 'css/style.css' %}"
        rel="stylesheet">

</head>


<body>


    <!-- ================================================= -->
    <!-- HEADER -->
    <!-- ================================================= -->

    <div class="container-fluid bg-dark px-0">

        <div class="row gx-0">

            <nav
                class="navbar navbar-expand-lg
                       bg-dark navbar-dark
                       p-3 p-lg-0 px-lg-5">


                <a
                    href="{% url 'index' %}"
                    class="navbar-brand d-block d-lg-none">

                    <img
                        src="{% static 'img/logo.png' %}"
                        alt="Futbol y Gol"
                        width="100px">

                </a>


                <button
                    type="button"
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">

                    <span
                        class="navbar-toggler-icon">
                    </span>

                </button>


                <div
                    class="collapse navbar-collapse
                           justify-content-between"
                    id="navbarCollapse">


                    <div class="navbar-nav mr-auto py-0">


                        <img
                            src="{% static 'img/logo.png' %}"
                            alt="Logo"
                            width="100px">


                        <a
                            href="{% url 'index' %}"
                            class="nav-item nav-link active">

                            Inicio

                        </a>


                        <a
                            href="{% url 'login_cliente' %}"
                            class="nav-item nav-link">

                            Ingreso Cliente

                        </a>


                        <a
                            href="{% url 'login' %}"
                            class="nav-item nav-link">

                            Ingreso Administrador

                        </a>


                    </div>


                    <span
                        class="py-md-3 px-md-5
                               d-none d-lg-block">

                        Futbol y Gol

                    </span>


                </div>

            </nav>

        </div>

    </div>


    <!-- ================================================= -->
    <!-- BANNER -->
    <!-- ================================================= -->

    <div class="container-fluid p-0 mb-5">

        <div
            id="header-carousel"
            class="carousel slide"
            data-bs-ride="carousel">

            <div class="carousel-inner">

                <div class="carousel-item active">

                    <img
                        class="w-100"
                        src="{% static 'img/bannerini.png' %}"
                        alt="Futbol y Gol">

                </div>

            </div>

        </div>

    </div>


    <!-- ================================================= -->
    <!-- INFORMACIÓN -->
    <!-- ================================================= -->

    <div class="container-fluid p-5">

        <div class="row gx-5">


            <div
                class="col-lg-5 mb-5 mb-lg-0"
                style="min-height: 500px;">


                <div
                    class="position-relative h-100">

                    <img
                        class="position-absolute
                               w-100 h-100 rounded"
                        src="{% static 'img/about.jpg' %}"
                        alt="Canchas Futbol y Gol"
                        style="object-fit: cover;">

                </div>

            </div>


            <div class="col-lg-7">


                <div class="mb-4">

                    <h5
                        class="text-primary text-uppercase">

                        Reservas de Canchas Online

                    </h5>

                    <h1
                        class="display-3 text-uppercase mb-0">

                        Futbol y Gol

                    </h1>

                </div>


                <h4 class="text-body mb-4">

                    Reservas de canchas online,
                    una solución práctica y eficiente.

                </h4>


                <p class="mb-4">

                    Gracias a las plataformas de
                    reserva de canchas online,
                    los usuarios pueden acceder
                    a diferentes opciones deportivas
                    y reservar de manera sencilla
                    la cancha, fecha y horario
                    disponible.

                </p>


                <div class="rounded bg-dark p-5">


                    <ul
                        class="nav nav-pills
                               justify-content-between
                               mb-3">


                        <li class="nav-item w-50">

                            <a
                                class="nav-link
                                       text-uppercase
                                       text-center
                                       w-100 active"
                                data-bs-toggle="pill"
                                href="#pills-1">

                                Reservas

                            </a>

                        </li>


                        <li class="nav-item w-50">

                            <a
                                class="nav-link
                                       text-uppercase
                                       text-center
                                       w-100"
                                data-bs-toggle="pill"
                                href="#pills-2">

                                Pagos

                            </a>

                        </li>

                    </ul>


                    <div class="tab-content">


                        <div
                            class="tab-pane fade
                                   show active"
                            id="pills-1">

                            <p
                                class="text-secondary mb-0">

                                Los clientes registrados
                                pueden seleccionar la
                                cancha, la fecha, la hora
                                y la duración de su reserva.

                            </p>

                        </div>


                        <div
                            class="tab-pane fade"
                            id="pills-2">

                            <p
                                class="text-secondary mb-0">

                                El cliente puede cargar
                                su comprobante de pago.
                                El administrador revisa
                                el comprobante y confirma
                                el pago de la reserva.

                            </p>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>


    <!-- ================================================= -->
    <!-- FOOTER -->
    <!-- ================================================= -->

    <div
        class="container-fluid
               bg-dark text-secondary
               px-5 mt-5">

        <div class="row gx-5">

            <div class="col-lg-8 col-md-6">

                <div class="row gx-5">

                    <div class="col-lg-6">

                        <p class="text-light">

                            <img
                                src="{% static 'img/logo.png' %}"
                                alt="Logo"
                                width="100px">

                            Futbol y Gol

                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>


    <!-- Back to Top -->

    <a
        href="#"
        class="btn btn-dark
               py-3 fs-4 back-to-top">

        <i class="bi bi-arrow-up"></i>

    </a>


    <!-- JavaScript -->

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js">
    </script>


</body>

</html>